.m-10{
  margin: 10px;
}
.m-20{
  margin: 20px;
}
.m-30{
  margin: 30px;
}
.m-40{
  margin: 40px;
}
.m-50{
  margin: 50px;
}
.mt-10{
  margin-top: 10px;
}
.mt-20{
  margin-top: 20px;
}
.mt-30{
  margin-top: 30px;
}
.mt-40{
  margin-top: 40px;
}
.mt-50{
  margin-top: 50px;
}
.mb-10{
  margin-bottom: 10px;
}
.mb-20{
  margin-bottom: 20px;
}
.mb-30{
  margin-bottom: 30px;
}
.mb-40{
  margin-bottom: 40px;
}
.mb-50{
  margin-bottom: 50px;
}
.ml-10{
  margin-left: 10px;
}
.ml-20{
  margin-left: 20px;
}
.ml-30{
  margin-left: 30px;
}
.ml-40{
  margin-left: 40px;
}
.ml-50{
  margin-left: 50px;
}
.mr-10{
  margin-right: 10px;
}
.mr-20{
  margin-right: 20px;
}
.mr-30{
  margin-right: 30px;
}
.mr-40{
  margin-right: 40px;
}
.mr-50{
  margin-right: 50px;
}

.fullWidth {
  width: 100%;
}

.text-center {
  text-align: center !important;
}
.flex {
  display: flex;
}
.flex-item-1 {
  flex: 1;
}

.greenColor{
  color: #28a745;
}

.footer {
	margin: 0 auto;
  justify-content: center;
}
.footer-item {
  min-width: 60%;
}

.field {
  padding: 10px;
  margin:10px 0; 
}
.border-customized-input {
  border: 2px solid #eee;
}
.without-border {
  border: none;
}
.border-bottom-input {
  border:0; 
  border-bottom:1px solid #eee;
}
.rounded-input {
  padding:10px;
  border-radius:10px;
}
.shadow-0-0-15-4-black-6{
  box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
}

.without-outline {
  outline: none;
}